<head>
  <%# about.loading scss%>
  <%= stylesheet_link_tag 'about', 'navbar', 'footer' %>
  <%#Controller about.loading scss%>
  <%= stylesheet_link_tag params[:controller] %>
  <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "about", "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" %>
</head>
<header class="header">
<nav class="navbar">
<div id="logo" style="width: 100%;"> 
    <a href="<%= root_path %>">
        <img class="logo" src="<%= asset_path 'logo.png' %>" />
    </a>
</div>
<ul class="nav-menu">
    <li class="nav-item">
    <a href="<%= player_index_path %>">Project</a>
    </li>
    <li class="nav-item">
        <a href="<%= gallery_index_path %>">Gallery</a>
    </li>
    <li class="nav-item">
        <a href="<%= about_index_path %>">About</a>
    </li>
    <li class="nav-item">
        <a href="<%= contact_index_path %>">Contact</a>
    </li>
</ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
<div id="workexperience" class="sectionClass">
    <div class="row ">
      <div class="sectiontitle">
        <h2>About Me</h2>
        <span class="headerLine"></span>
      </div>
      <div class="fullWidth eight columns">
        <ul class="cbp_tmtimeline">
            <li>
                <div class="cbp_tmicon cbp_tmicon-screen">
                    <i class="faPra fa-briefcase"></i>
                </div>
                <div class="cbp_tmlabel wow fadeInRight animated">
                    <h3>Computer Science BSc</h3>
                    <h4><i class="fa fa-flag"></i>University of Surrey, Guildford, Surrey, United Kingdom</h4>
                    <div class="date"><i class="fa fa-calendar"></i>September 2020 - Present</div>
                    <p class="projectParagraph">Currently on 2nd year, Learning Computer Science.</p>
                </div>
            </li>
            <li>
                <div class="cbp_tmicon cbp_tmicon-phone">
                    <i class="faPra fa-briefcase"></i>
                </div>
            <div class="cbp_tmlabel wow fadeInRight animated">
                <h3>Web developer</h3>
            <div class="date">
                <i class="fa fa-calendar"></i>July 2021 - September 2021
            </div>
                <h4><i class="fa fa-flag"></i>M.I.T SKILLS Company, Woking, Surrey, United Kingdom</h4>
                <p class="projectParagraph">Rebuild the whole web system including front and end, UI, Database rebuild and transfer.</p>
            </div>
          </li>
            <li>
            <div class="cbp_tmicon cbp_tmicon-mail">
              <i class="faPra fa-briefcase"></i>
            </div>
            <div class="cbp_tmlabel wow fadeInRight animated">
              <h3>Still Model</h3>
              <h4><i class="fa fa-flag"></i>Ethos Model, London</h4>
              <div class="date"><i class="fa fa-calendar"></i>July 2021 - Present</div>
              <p class="projectParagraph">Currently a model for Still photography</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-left">
        <p class="footer-links">
            <a href="<%= root_path %>">Home</a>
            ·
            <a href="<%= player_index_path %>">Project</a>
            ·
            <a href="<%= about_index_path %>">About</a>
            ·
            <a href="<%= contact_index_path %>">Contact</a>
        </p>
        <p class="footer-company-name">JC - Personal Station &copy; 2021</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>GU1 4AJ</span> Guildford, Surrey, United Kingdom</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+44 7720 896787</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:lewiskai0416@gmail.com">lewiskai0416@gmail.com</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>About Me</span>
            Computer Science student at University of Surrey.
        </p>
        <div class="footer-icons">
            <a href="https://www.facebook.com/Jimcai20"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/lewis_cjm/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/lewiskai"><i class="fa fa-github"></i></a>
        </div>
    </div>
</footer>
  <script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");
    const navLink = document.querySelectorAll(".nav-link");

    hamburger.addEventListener("click", mobileMenu);
    navLink.forEach(n => n.addEventListener("click", closeMenu));

    function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
}

    function closeMenu() {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");
}
    baguetteBox.run('.tz-gallery');
  </script>